.footer {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 67px 0px 0px 0px;
  height: 50px;
}

.footer__text {
  margin: 0px;
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .footer {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 48px 19px 0px;
  }

  .footer__text {
    font-size: 14px;
  }
}
