.gallery {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.gallery__cards-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
  align-items: center;
  padding: 0px;
}

@media screen and (max-width: 900px) {
  .gallery {
    max-width: 581px;
  }
}

@media screen and (max-width: 590px) {
  .gallery {
    max-width: 282px;
  }
}
