.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  margin: 0px 0px 41px;
  width: 173px;
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .header {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin: 0px 27px 32px;
    max-width: 126px;
  }
}
