.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0px auto;
  width: 430px;
  background-color: white;
  border-radius: 10px;
}

.modal__close-button {
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url("/images/CloseIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  text-align: start;
  margin: 34px 64px 54px 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0px 36px;
  padding-bottom: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal__input_type_name {
  margin: 0px 36px 30px;
}

.modal__save-button {
  width: 358px;
  height: 50.15px;
  background: black;
  border-radius: 2px;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  margin: 48px 36px 36px;
  border: none;
}

.modal__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .modal__container {
    width: 282px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    right: 0px;
  }

  .modal__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 75px;
  }

  .modal__input {
    margin: 0px 22px;
  }

  .modal__input_type_name {
    margin: 0px 22px 30px;
  }

  .modal__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px 22px 25px;
  }
}
