.page {
  background-color: black;
}

.page__content {
  max-width: 880px;
  display: flex;
  flex-direction: column;
  padding: 45px 0px 60px;
  background-color: black;
  margin: 0px auto;
}

@media screen and (max-width: 768px) {
  .page__content {
    padding: 28px 0px 36px;
  }
}
