.profile {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 51px;
}

.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  background-color: black;
  border-radius: 50%;
  margin: auto;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 30px;
  flex-grow: 2;
}

.profile__title {
  display: flex;
  margin-bottom: 16px;
}

.profile__name {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.04;
  color: white;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__edit {
  border: 1px solid white;
  margin: auto 0px auto 18px;
  background: transparent;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.6;
}

.profile__editbutton {
  margin: auto;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: white;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__add {
  min-width: 150px;
  height: 50px;
  border: 2px solid white;
  border-radius: 2px;
  margin: auto 0px;
  background: transparent;
  cursor: pointer;
}

.profile__add:hover {
  opacity: 0.6;
}

.profile__addbutton {
  height: 22px;
  width: 22px;
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .profile {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin: 38.25px 0px 36px;
  }

  .profile__info {
    margin: 26.25px auto 0px;
    align-items: center;
  }

  .profile__title {
    margin-bottom: 14px;
  }

  .profile__name {
    font-size: 22px;
    max-width: 250px;
  }

  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    padding: 0px 5.25px;
  }

  .profile__editbutton {
    width: 7.5px;
    height: 7.5px;
    display: block;
  }

  .profile__description {
    margin-bottom: 36px;
    font-size: 14px;
    max-width: 250px;
  }

  .profile__add {
    width: 282px;
  }
}
