@import url("../fonts/fonts.css");

@import url("../vendor/normalize.css");

@import url("../blocks/page.css");

@import url("../blocks/header.css");

@import url("../blocks/profile.css");

@import url("../blocks/gallery.css");

@import url("../blocks/card.css");

@import url("../blocks/footer.css");

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_opened {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 330px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.modal__close-button {
  position: absolute;
}

.modal__close-icon {
}

.modal__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
}
